.aboutUs {
    padding: 20px;
    text-align: center;
  }
.scholar-line {
    margin-bottom: 2px; /* Space between the two lines */
  }
.scholar-link {
    margin-right: 2px;
    white-space: nowrap;
  }