.candidateSchedule {
  padding: 20px;
  text-align: center;
}

.schedule-container {
  width: 100%; /* or a specific width like 800px */
  height: 600px; /* adjust as needed */
  margin: auto;
  background-color: #f9f9f9; /* just for visibility, adjust as needed */
}